<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Calender日付管理</h1>
    <%= link_to 'New calender', new_calender_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>


  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">日付</th>
        <th class="px-4 py-2">開始</th>
        <th class="px-4 py-2">終了</th>
        <th class="px-4 py-2">休憩始め</th>
        <th class="px-4 py-2">休憩終り</th>
        <th class="px-4 py-2">単位：分</th>
        <th class="px-4 py-2">閉</th>
        <th class="px-4 py-2"></th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      <% @calenders.each do |cal| %>
      <tr>
        <td class="border px-4 py-2"><%= cal.day %></td>
        <td class="border px-4 py-2"><%= cal.begin_time.strftime("%R") %></td>
        <td class="border px-4 py-2"><%= cal.close_time.strftime("%R") %></td>
        <td class="border px-4 py-2"><%= cal.interval_s.strftime("%R") %></td>
        <td class="border px-4 py-2"><%= cal.interval_e.strftime("%R") %></td>
        <td class="border px-4 py-2"><%= cal.unit_minute %></td>
        <td class="border px-4 py-2"><%= cal.no_use %></td>
        <td class="border px-4 py-2"><%= link_to '編集', edit_calender_path(cal), class: "frm_btn bg-gray-400" %></td>
        <td class="border px-4 py-2"><%= button_to '削除', calender_path(cal), method: :delete, class: "frm_btn bg-red-400" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="wrapper bg-white rounded shadow w-full my-10">
    <div class="header flex justify-between border-b p-2">
      <span class="text-lg font-bold">
        <%= @today.strftime("%Y年 %m月") %>
      </span>
      <div class="buttons">
        <button class="p-1">
            <svg width="1em" fill="gray" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
              <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
            </svg>
        </button>
        <button class="p-1">
            <svg width="1em" fill="gray" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
              <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
      </div>
    </div>

    <table class="w-full">
      <thead>
        <tr>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">日</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">月</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">火</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">水</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">木</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">金</span>
          </th>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
            <span class="block">土</span>
          </th>
        </tr>
      </thead>
      <tbody>
      <% @weeks.each do |week| %>
        <tr class="text-center h-20">
        <% week.each do |day| %>
          <% this_month = (day.strftime("%m") == @this_month) ? true : false %>
          <% is_close    = (@day_enable[day] == :closed) ? true : false %>

          <td class="border <%= this_month ? '' : 'bg-gray-100' %> p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition  duration-500 ease hover:bg-gray-300 ">
            <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
              <div class="top h-5 w-full">
                <span class="text-gray-500"><%= day.strftime("%e") %></span>
              </div>
              <div class="bottom flex-grow h-30 py-1 w-full <%= !is_close ? '' : 'cursor-pointer' %>">
                <div class="<%= is_close ? 'bg-purple-200' : 'bg-blue-400' %> text-white rounded p-1 text-sm mb-1">
                  <span class="event-name">
                    <%= @day_enable[day] %>
                  </span>
                </div>

                <div>
                  <input type="checkbox" 
                        id="day<%= day.strftime("%-d") %>"
                        data-action="item#upvote"
                        data-item-id-param="day<%= day.strftime("%-d") %>" 
                        checked>
                </div>
              </div>
            </div>
          </td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
